[flake8]
max-line-length = 800
exclude = .git,__pycache__,docs/source/conf.py,old,build,dist,.venv,migrations
per-file-ignores =
    # Ignorar imports não utilizados em arquivos de inicialização
    __init__.py: F401
    */migrations/*.py: E501
    ignore = W292